<div class="title">Registration form</div>
<form class="regForm" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="item">
    <lable>FirstName</lable>
    <input
      formControlName="firstName"
      type="text"
      [class.invalid]="firstName.invalid && firstName.touched"
    />
  </div>

  <div class="item">
    <lable>LastName</lable>
    <input
      formControlName="lastName"
      type="text"
      [class.invalid]="lastName.invalid && lastName.touched"
    />
  </div>

  <div class="item">
    <lable>Date of birthday</lable>
    <input type="date" />
  </div>

  <div class="item">
    <lable>Framework</lable>
    <select
      formControlName="framework"
      name="framework"
      (change)="onFrameworkChange($event)"
    >
      <option *ngFor="let framework of frameworks" [value]="framework.value">
        {{ framework.name }}
      </option>
    </select>
  </div>

  <div class="item">
    <lable>Framework version</lable>
    <select formControlName="frameworkVersion" name="frameworkVersion" disabled>
      <option *ngFor="let version of versions" value="version">
        {{ version }}
      </option>
    </select>
  </div>

  <div class="item">
    <lable>Email</lable>
    <input
      formControlName="email"
      type="text"
      [class.invalid]="email.invalid && email.touched"
    />
    <div *ngIf="email.invalid && email.touched" class="errors">
      <small *ngIf="email.errors?.required">Email Required</small>
      <small *ngIf="email.errors?.wrongEmail && !email.errors?.required"
        >Wrong Email
      </small>
    </div>
  </div>

  <div
    class="item"
    formArrayName="hobbies"
    *ngFor="let hobby of hobbies.controls"
  >
    <div class="hobby" [formGroup]="hobby">
      <lable>Hobby </lable>
      <input formControlName="name" type="text" />
      <select formControlName="duration" type="text">
        <option value="2 month">2 months</option>
        <option value="6 month">6 months</option>
        <option value="1 year">1 year</option>
        <option value="over 2 years">over 2 years</option>
      </select>
      <button type="button" (click)="removeHobby(i)">X</button>
    </div>
  </div>
  <div class="item">
    <button type="button" (click)="addHobby()">Add Hobby</button>
  </div>

  <div class="item">
    <button type="submit">Register</button>
  </div>
</form>
{{ registrationForm.value | json }}

<button mat-button color="warn">Hello material</button>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>

<mat-form-field hintLabel="Max 10 characters" appearance="fill">
  <mat-label>Enter some input</mat-label>
  <input matInput #input maxlength="10" placeholder="Ex. Nougat" />
  <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
</mat-form-field>
